@use '../globals' as *;

.product-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  outline: 0.5px solid #4c4c4c; 
  transition: transform 0.5s;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  background-color: $background-color;

  &--border {
    border: 0.25px solid $border-dark; 
  }
  
  &:hover {
    .product-card__overlay {
      transform: translateY(0);
    }
    
    .product-card__content {
      color: $text-white;
      background-color: transparent;
    }
    
    .product-card__image {
      z-index: 3;
    }
    
    .product-card__brand {
      color: $text-white;
    }
  }
  
  &__image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    z-index: 2;
  }
  
  &__image {
    object-fit: contain;
  }
  
  &__content {
    padding: 0.5rem 1rem;
    position: relative;
    z-index: 4;
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  &__brand {
    font-size: 0.75rem;
    color: $text-secondary;
    margin-bottom: 0.25rem;
    transition: color 0.5s ease;
    text-transform: uppercase;
  }
  
  &__name {
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
  }
  
  &__model,
  &__price {
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-dark-color;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 0.5s ease;
  }
}

